/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: 'globersemibold_free';
    src: url('fonts/glober_semibold_free.eot');
    src: url('fonts/glober_semibold_free.eot?#iefix') format('embedded-opentype'),
         url('fonts/glober_semibold_free.woff2') format('woff2'),
         url('fonts/glober_semibold_free.woff') format('woff'),
         url('fonts/glober_semibold_free.ttf') format('truetype'),
         url('fonts/glober_semibold_free.svg#globersemibold_free') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'globerthin_free';
    src: url('fonts/glober_thin_free.eot');
    src: url('fonts/glober_thin_free.eot?#iefix') format('embedded-opentype'),
         url('fonts/glober_thin_free.woff2') format('woff2'),
         url('fonts/glober_thin_free.woff') format('woff'),
         url('fonts/glober_thin_free.ttf') format('truetype'),
         url('fonts/glober_thin_free.svg#globerthin_free') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    outline-width: 0;
    outline-style: none;
    font-family: 'globersemibold_free';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body,html {
    height: 100%;
    width: 100%;
    font-family: 'globersemibold_free';
    overflow: hidden !important;
    background: #000 !important;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*****************GENERALES***********************/
.modal-backdrop, .modal-backdrop-bg {top: -60px !important;}
.backdrop {top: -60px !important;}
.modal-open{pointer-events: visible !important;}
.popup-container .popup {width: 90% !important;}
.button.button-positive { background: #065396 !important;}
.popup-head {background: #065396 !important;}
.popup-title {color: #fff !important;}
button.button.color {background-color: transparent; background: url(../img/boton_c.png) no-repeat center; background-size: contain; color: #fff;text-transform: uppercase;}
img.sabe_a_nosotros {display: block;max-width: 150px;}
div.sabe_a_nosotros {position: absolute;left: 0; right: 0; margin: auto; bottom: 0; height: 40px; background: rgba(0,0,0,0.5);}
div.sabe_a_nosotros img {max-width: 160px;margin: 0 auto; display: block;padding-top: 12px;}
.fondo {background: url(../img/FONDO-PAPEL.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
.logo_pilsen {background:url(../img/logo_pilsenAzul.png); width: 80%; max-width: 350px; position: static;margin: 0 auto;padding-top: 70%; background-size: contain;background-repeat: no-repeat;background-position: bottom;}
.logo_pilsen.left.top {position: absolute;width: 150px; height: 150px; left: 0px; top: 0px;padding: 0px;z-index: 0;}
.logo_pilsen.left.top.fijo{position: absolute; width: 100px; height: 100px; left: 1%; top: 1%; padding: 0px; z-index: 0;}
.logo_pilsen.left.top.top_logo_bodega{position: absolute; width: 100px; height: 95px; left: 1%; top: 1%; padding: 0px; z-index: 0;}
.loader_ini {width: 100%; height: 100%; background: #065396 url(../img/logo_pilsenBlanco.png); z-index: 99999999999; left: 0;top: 0; position: fixed;display: none !important; background-repeat: no-repeat;background-position: center;}
ionic-datepicker,ionic-timepicker  {height: 100%; width: 100%;display: block;position: absolute;top: 0;left: 0;}
.loader_seleccion {position: fixed;left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 99999999999;display: none;}
.loaderIntro {width: 100%; height: 100%; background: #000 url(../img/logo_pilsenBlanco.png) no-repeat center center !important; z-index: 99999999999; left: 0;top: 0; position: absolute;background-repeat: no-repeat;background-position: center; background-size: 245px !important;}
/***********************INDEX**************************/

.intro {background: url(../img/FONDO-PAPEL.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
.intro .logo {position: relative;margin: 15% auto 0 auto; top: 10%; max-width: 160px; display: block;}
.intro ion-content > h1 {text-align: center;color: #fff; font-size: 24px; margin-top: 40px;font-family: "globerthin_free";font-weight: bold;}
.mayorEdad_tags {width:  100%;position: absolute;text-align: center;}
.mayorEdad_tags > h1 {display: inline-block;padding-right: 20px; color: #fff; font-size: 12px; width: 80px;margin-top: 5px;}
.intro .recolectar_nacimiento {background: rgba(0,0,0,0.5); width: 100%; height: 55px; text-align: center; margin-top: 30px; font-size: 0px;position: relative;}
.intro .recolectar_nacimiento button {display: inline-block; margin-top: 15px; background: transparent;height: 35px;border: none; text-align: center; color: rgba(255,255,225,1); font-size: 24px;font-family: "globerthin_free"; padding-top: 4px;}
.intro .recolectar_nacimiento button.dia {width: 80px; border-right: 1px solid rgba(255,255,255,0.5); padding-right: 0px;}
.intro .recolectar_nacimiento button.mes {width: 80px; border-right: 1px solid rgba(255,255,255,0.5);}
.intro .recolectar_nacimiento button.ano {width: 100px;}
.intro button.button.color {margin: 20px auto; display: block; padding: 0 40px; width: 200px;}
.intro .sabe_a_nosotros {margin: 30px auto; width: 110px;}
.intro .botellas {width: 80%; max-width: 220px; display: block;margin: 0 auto;position: absolute;bottom: 0; left: 0; right: 0;}
.rif.top.right {position: absolute; top: 10px; right: 10px; color: #fff; font-size: 10px; z-index: 999}
.intro .recolectar_nacimiento ionic-datepicker {width:  100%; height: 100%;display: block;position: absolute;top: 0; right: 0;  background: transparent !important;}
/***********************TIPO CALENDARIO**************************/
.tipoCalendario .botellas {width: 90%; max-width: 220px; display: block;margin: 0 auto;position: absolute;bottom: 0; left: 0; right: 0;}
.tipoCalendario .recolectar_tipoCalendarop {height: 90%;background: transparent;width: 100%;position:relative; bottom: 0; z-index: 999; padding-top: 40px;}
.tipoCalendario .recolectar_tipoCalendarop button {width: 80%;max-width: 250px;background: transparent;border: 2px solid #fff; border-radius: 5px;padding: 10px;color: #fff;display: block;margin: 40px auto; text-transform: capitalize;font-size: 15px;}
.tipoCalendario .recolectar_tipoCalendarop h1 {text-align: center;color: #fff; font-size: 18px;}
.tipoCalendario .recolectar_tipoCalendarop h2 {text-align: center;color: #fff; font-size: 17px;font-family: "globerthin_free";font-weight: bold;}
.tipoCalendario .sabe_a_nosotros {width: 150px;position: absolute;top: 30%; right: 0; left: 0; bottom: 0;margin: auto;}
.tipoCalendario ion-content .content_h1  {height: 40%;    background: transparent; z-index: 99999; position: relative;}
.tipoCalendario ion-content .content_h1 > h1 {text-align: center;color: #fff; font-size: 20px;position: relative;top: 100%;}
/********************CHICAS***********************/
.page_chicas .chicas {text-align: center;position: relative; max-width: 240px; left: 0; right: 0; margin: 2px auto 0 auto; }
.page_chicas .chicas .chica_item button { padding: 0; width: 90px; height: 90px; border:none; background: none;background-repeat: no-repeat !important; background-size: contain !important;color: #fff; margin-bottom: 15px; display: inline-block;}
.page_chicas .chicas .chica_item button.active {border:3px solid #06559f;}
.page_chicas .chicas .chica_item button.karen {background: url(../img/karen.png);}
.page_chicas .chicas .chica_item button.georgina {background: url(../img/georgina.png);}
.page_chicas .chicas .chica_item button.gabriela_c {background: url(../img/gabriela-c.png);}
.page_chicas .chicas .chica_item button.gabriela {background: url(../img/gabriela.png);}
.page_chicas .chicas .chica_item button.anmarie {background: url(../img/anmarie.png);}
.page_chicas .chicas .chica_item button.grupal {background: url(../img/grupal.png); width: 100%;}
.page_chicas .chicas .item_grupal {width: 100%; max-width:none !important; }
.page_chicas button.button.color {margin: 20px auto; display: block; padding: 0 40px;width: 200px;}
.page_chicas .chicas .chica_item {display: inline-block;max-width: 90px;margin-right: 10px; margin-bottom: 30px;}
.page_chicas .chicas .chica_item span {color: #fff;}
.page_chicas .sabe_a_nosotros {position: absolute;left: 0; right: 0; margin: auto; bottom: 0; height: 40px; background: rgba(0,0,0,0.5);}
.page_chicas .sabe_a_nosotros img {max-width: 160px;margin: 0 auto; display: block;padding-top: 12px;}
.page_chicas .chicas_sin_seleccion{overflow-y: scroll; height: 100%;}
.page_chicas .chicas_sin_seleccion > h1 {color: #fff; font-weight: bold;  font-size: 30px;margin-top: 25%; position: relative;text-align: center;}
.page_chicas .chicas_sin_seleccion > h1:nth-child(2) {margin-top: 0px;}
.page_chicas .chicas_sin_seleccion > h1:nth-child(2) span{font-family: "globerthin_free"}
.page_chicas .chicas_sin_seleccion > h2 {}

/*************SLIDER CHICA ****************/
.contenedor_slider {position: absolute;bottom: 0;display: block;height: 90%; width: 100%;top: 5%;}
.slider_chicas { width: 100%;height: 100%;}

.opciones_chicas {height: 65px; background-color: transparent;width: 100%;display: block;position: relative;text-align: center;}
.contenedor_slider > h1 {color: #fff; font-size: 20px;text-align: center;width: 100%;display: block; margin-bottom: 20px;}

.contenedor_slider .opciones_chicas button {padding: 0; width: 40px; height: 40px; border:none; background: none;background-repeat: no-repeat !important; background-size: contain !important;color: #fff; margin-bottom: 10px; display: inline-block;}
.contenedor_slider .opciones_chicas span.active {border-bottom:2px solid #fff; width: 100%; display: block;}
.contenedor_slider .opciones_chicas button.karen {background: url(../img/karen.png);}
.contenedor_slider .opciones_chicas button.georgina {background: url(../img/georgina.png);}
.contenedor_slider .opciones_chicas button.gabriela_c {background: url(../img/gabriela-c.png);}
.contenedor_slider .opciones_chicas button.gabriela {background: url(../img/gabriela.png);}
.contenedor_slider .opciones_chicas button.anmarie {background: url(../img/anmarie.png);}
.contenedor_slider .opciones_chicas button.grupal {background: url(../img/grupal_thumb.png);}
.contenedor_slider .opciones_chicas .chica_item {display: inline-block; height: 50px; vertical-align: bottom;width: 40px; margin-right: 10px; margin-top: 12px;}

.contenedor_slider button.button.color {margin: 20px auto; display: block; padding: 0 40px;top: 56%;position: absolute; left: 0; right: 0; width: 200px;}
.slider_content {position: relative !important;height: 100%;}
.slider_content .chica_slider {top: 0;left: 0; position: absolute;}
.contenedor_slider .bullets  {top: auto; position: absolute;width: 100%;text-align: center; bottom: 140px;}
.contenedor_slider .bullets ul.slick-dots li {display: inline-block;width: 10px; height: 10px;margin-right: 7px;}
.contenedor_slider .bullets ul.slick-dots li button {background: #fff; width: 10px; height: 10px; padding: 0px; border-radius: 100%;}
.contenedor_slider .bullets ul.slick-dots li.slick-active button {background-color: #065396;}
.contenedor_slider .slider_chicas h1{position: relative; margin-top: 50px; left: 70%; text-shadow: 1px 1px 1px #000;z-index: 999;color: #fff;font-size: 23px;}
.contenedor_slider .slider_chicas h2{position: relative; left: 70%; text-shadow: 1px 1px 1px #000;z-index: 999;color: #fff;font-family: "globerthin_free"; font-weight: bold;}
.contenedor_slider .slider_chicas h3{position: relative; left: 70%; text-shadow: 1px 1px 1px #000;z-index: 999;color: #fff; border-bottom: 1px solid #fff; width: 25px;box-shadow: 1px 1px 1px #000;}
.slider_chicas .slider-pager {top: 55%;}

.contenedor_slider .slider-pager .slider-pager-page.active {color: #06559f !important;}
.contenedor_slider .slider-pager .slider-pager-page {opacity: 1 !important; color: #fff !important;}

/************TABS******************/
.pop_loader {width: 100%; height: 100%; z-index: 0; background-color: rgba(0,0,0,.9) !important; position: fixed;left: 0 !important; top: 0 !important; margin: 0 auto !important;opacity: 1;}
.pop_loader ion-spinner svg {width: 40px !important;height: 40px !important;}
.pop_loader ion-spinner {width: 40px; height: 40px; position: absolute;margin: auto; left: 0; right: 0; top: 0; bottom: 0;}
.pane, .view {background-color: transparent;}
.tabs-striped .tabs {border-bottom: none !important;}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{background: url(../img/el_activo.jpg) no-repeat center; background-size:cover;/*border-color: #073f74;background-color: #073f74;border-bottom: 2px solid #073f74; */ height: 60px;}
.tabs-color-tab.tabs-striped .tabs {background-color: #000; } 
.tabs {background: #000;height: 60px;opacity: 0.75; }
.tabs .ion-calendario { background: url(../img/calendario.png);height: 32px;width: 30px; background-size: contain;background-repeat: no-repeat;margin-top: 10px;}
.tabs .ion-despertador {background: url(../img/despertador.png);height: 32px;width: 30px; background-size: contain;background-repeat: no-repeat;margin-top: 10px; }
.tabs .ion-bodega {background: url(../img/galeria.png) center;height: 32px;width: 60px; background-size: contain;background-repeat: no-repeat;margin-top: 10px; }
.tabs .ion-setting { background: url(../img/config.png);height: 32px;width: 30px; background-size: contain;background-repeat: no-repeat;margin-top: 10px; }
/*************CALENDARIO HOME****************/
.modal_meses .slider-slide {background: rgba(0,0,0,0.5);padding-top:25px;}
.calendario_home .flecha_down {background: url(../img/flecha_down.png);background-position: center; background-repeat: no-repeat;background-size: 25px; height: 60px;width:60px;position: absolute;top: 40px; right: 20px;}
.modal_meses {bottom: 10px;top: auto !important;height: 85% !important; min-height: 75% !important;background: transparent;text-align: center;width: 100%; position: absolute;}
.contenedor_calendario_meses  {height: 100%; }
.control_meses {background: url(../img/meses_activo.png);background-repeat: no-repeat;background-size: 25px; height: 50px;width:50px;display: inline-block;background-position: center; position: relative;z-index: 999;}
.control_mes {background: url(../img/mes_pasivo.png);background-repeat: no-repeat;background-size: 25px; height: 50px;width:50px;display: inline-block;background-position: center;}
.control_add {background: url(../img/agregar_evento_button.png);background-repeat: no-repeat;background-size: 25px; height: 50px;width:50px;display: inline-block;background-position: center;}
.controles button{border: 0; padding: 0; vertical-align: middle;}
.controles span {vertical-align: middle; color: #fff; font-size: 23px; height: 19px; display: inline-block; margin-right: 30px; text-shadow:1px 1px 3px #000; position: absolute; left: 0;right: 50px;margin: auto;width: 40%;top: 30%;text-align: center;z-index: 998; text-transform: capitalize;}
.controles {text-align: right;height: 10%;position: relative;background: rgba(0,0,0,0.5);}
.contenedor_calendario_meses img.sabe_a_nosotros {margin: 10px auto; max-width: 120px;}

/******************Mes Individual**************/
.mes_container .custom-calendar-wrap {max-width: 95%; width: 95%;}
.movimientos_meses button {background: none; border: 1px solid #fff; color: #fff;text-shadow: 1px 1px 3px #000;}
    

/*************DIA Calendario***************/
.calendario_dia .eventos_container {height: 88%; position: relative;}
.calendario_dia .eventos_container ul{overflow-y:scroll; height: 90%; width: 90%; margin: 0 auto;}
.calendario_dia .eventos_container ul li h1 {color: #fff; text-align: left;display: inline-block; width: 25%;vertical-align: middle; font-size: 13px;}
.calendario_dia .eventos_container ul li > span {height: 1px;background: #fff;width: 75%;display: inline-block;vertical-align: middle; opacity: 0.6;}
.calendario_dia .eventos_container ul li time h1 {color: #cc9128; text-align: left;display: inline-block; width: 25%;vertical-align: middle;font-size: 11px;}
.calendario_dia .eventos_container ul li time > span {height: 1px;background: #cc9128;width: 75%;display: inline-block;vertical-align: middle; opacity: 1;}
.calendario_dia .eventos_container > h1 {color: #fff; font-size: 14px;}
.calendario_dia .eventos_container > h2 {height: 1px; background: rgba(255,255,255,0.6); width: 100%; margin-top-top: 15px; margin-bottom: 20px;}
.calendario_dia .eventos_container ul li time > p {color: #cc9128; font-size: 12px;}
.calendario_dia .eventos_container ul li time  {padding: 7px 0px; height: 40px;display: block;}

/*********ADD EVENT**********/
.agregar_evento {font-size: 0px;}
.agregar_evento span {width: 40%;display: inline-block;margin-bottom: 30px;margin-right: 4%}
.agregar_evento span:nth-child(3n) {margin-right: 0px;}
.agregar_evento span h1 {color: #fff; font-size: 13px;}
.agregar_evento span h2 {color: #fff; font-size: 12px;padding-top: 10px;padding-bottom: 10px; background: rgba(0,0,0,0.5);position: relative;}
.agregar_evento .nombre_evento {width: 100%; border: none; border-bottom: 1px solid; background: none;text-align: center;color: #fff;padding-bottom: 10px; margin-bottom: 30px; font-size: 16px;}
.agregar_evento .button {width: 100%; max-width: 200px;margin-top: 20px;}
.agregar_evento select {color: #fff; border: none;  background: rgba(0,0,0,0.5); padding-top: 5px; padding-bottom: 9px; width: 40%; margin-right: 4%;-webkit-appearance:none; 
  border:none;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  padding: auto 0;
   padding-left: 10px;
  overflow:hidden;
  box-sizing:border-box;
  border-radius: 0px;}
.agregar_evento select:nth-child(7) {margin-right: 0px;}

/*************EVENTO CREADO ************/

.ver_evento {background: #000 !important;}
.ver_evento .contenedor_evento_creado > h1 { color: #fff; font-size: 22px;position: relative;top: -25px; margin-bottom: 10px;text-shadow: 0px 0px 1px #000;}
.ver_evento .contenedor_evento_creado {width: 100%; height: 85% !important; background: rgba(0,0,0,1) !important;margin-top: 25px;}
.ver_evento button.button.color {background-color: transparent;width: 100%; max-width: 200px; position: relative;top:-70px;}
.ver_evento .contenedor_evento_creado .detalle_inicio {margin-right: 10%;}
.ver_evento .contenedor_evento_creado .detalle_inicio,.ver_evento .contenedor_evento_creado .detalle_fin { display: inline-block;}
.ver_evento .contenedor_evento_creado .detalle_inicio h1,.ver_evento .contenedor_evento_creado .detalle_fin h1{margin-left: 35px; top:-25px;color: #fff; font-size: 12px; text-transform: uppercase;margin-bottom: 5px;position:relative}
.ver_evento .contenedor_evento_creado .detalle_inicio span,.ver_evento .contenedor_evento_creado .detalle_fin span { color: #fff;font-family: 'globerthin_free'; font-size: 70px;position:relative}
.ver_evento .contenedor_evento_creado .detalle_inicio h2,.ver_evento .contenedor_evento_creado .detalle_fin h2 {margin-left: 35px; color: #fff;position:relative; font-size:40px; text-align: right;}
.ver_evento .contenedor_evento_creado .detalle_inicio h3,.ver_evento .contenedor_evento_creado .detalle_fin h3 {  color: #fff;position:relative;text-transform: capitalize;font-size: 12px;}
.ver_evento .contenedor_evento_creado .detalle_recordatorio span{height: 70px;width: 70px;display: block;border-radius: 100%;border: 2px solid #00a0ba;margin: 0 auto;color: #00a0ba;padding-top: 27px;}
.ver_evento .contenedor_evento_creado .detalle_recordatorio > h1  {color: #fff; font-size: 18px; text-transform: capitalize; margin-top: 20px; margin-bottom: 15px;}
.editButton {padding: 0; width: 50px; height: 50px; background: url(../img/lapiz.png); background-size: 20px; background-repeat: no-repeat; border: none;position: relative;top: 0;background-position: center;}
.goBack{padding: 0;  width: 50px; height: 50px; background: url(../img/goback.png); background-size: 11px; background-repeat: no-repeat; border: none; background-position: center;position: relative;top: 0px;}
.barra_volver {position: relative;top: -25px;text-align: right;height: 50px;}
.barra_volver h1 {display: inline-block;text-align: center;position: absolute; width: 120px; left: 0;right: 0;margin: auto;color: #fff; font-size: 18px;top: 0;bottom: 0; height: 10px;}
.barra_volverGeneral {position: relative;text-align: right;padding-right: 20px;height: 45px; display: none;background: rgba(0,0,0,0.5);}
.barra_volverGeneral h1 {display: inline-block;text-align: center;position: absolute; width: 150px; left: 0;right: 0;margin: auto;color: #fff; font-size: 18px;top: 0px;bottom: 0; height: 10px;}
.imagenPrueba {position: absolute; height: 98%; width: 100%;top: 0; left: 0;}




/************************Seccion Alarma*********************/

.lista_alarmas {background: none; color: #fff;}
.contenedor_despertador{ height: 85%;position: absolute; bottom: 0; top: auto; width: 100%;}
.contenedor_despertador .contenedor_calendario_meses img.sabe_a_nosotros {max-width: 150px;position: absolute;left: 10px;bottom: 20px;}
.contenedor_despertador .contenedor_calendario_meses .botellas {width: 30%;position: absolute;right: 0;bottom: 55px;}
.contenedor_despertador .controles span {right: 0 !important}
.contenedor_despertador .slider-slide { background: rgba(0,0,0,0.5);}
.contenedor_despertador .despertador_pantalla1 .imagen_despertador { margin-top: 10%; display: block; margin-left: auto; margin-right: auto;max-width: 70px;}
.contenedor_despertador .despertador_pantalla1 h1 {color: #fff; text-align: center;font-size: 20px;margin-top: 20px; font-weight: bold;/*font-family: 'globerthin_free';*/}
.contenedor_despertador .despertador_pantalla1 h2 {color: #fff; text-align: center;font-size: 15px;font-weight: bold;/*font-family: 'globerthin_free';*/}
.contenedor_despertador .despertador_pantalla1 button.button.color { width: 100%; max-width: 200px; margin: 0 auto;display: block;margin-top: 20px;}
.despertador_home .goBack {top: -3px;}
.despertador_home .barra_volverGeneral h1 {top: 0;}
.contenedor_despertador .despertador_pantalla2 .imagen_despertador { margin-top: 20%; display: block; margin-left: auto; margin-right: auto;max-width: 70px;}
.contenedor_despertador .despertador_pantalla2 h1 {color: #fff; text-align: center;font-size: 20px;margin-top: 20px; }
.contenedor_despertador .despertador_pantalla2 h2 {color: #fff; font-size: 15px;font-weight: bold;/*font-family: 'globerthin_free';*/ text-align: left; margin-bottom: 10px;}
.contenedor_despertador .despertador_pantalla2 button.button.color { width: 100%;max-width: 180px;margin: 0 auto;display: block;margin-top: 10px;height: 40px;min-height: 35px;font-size: 15px;}
.contenedor_despertador .despertador_pantalla2 button.button.color.cancelar {/*background-color:#ec4a54 !important;*/}
.contenedor_despertador .despertador_pantalla2 .picker_alarma {width: 100%;height: 55px; background: rgba(0,0,0,0.5); text-align: center;position: relative;}
.contenedor_despertador .despertador_pantalla2 .picker_alarma button {background: transparent;border: none;border-right: 1px solid #fff;position: relative; height: 70%;width: 25%;top: 15%;display: inline-block;text-align: center;color: #fff;font-size: 24px;font-family: 'globerthin_free';font-weight: bold;}
.contenedor_despertador .despertador_pantalla2 .picker_alarma button:last-child {border-right: none;}
.contenedor_despertador .despertador_pantalla2 .nombreAlarma {-webkit-appearance:none; width: 100%; text-align: center;font-size: 20px; color: #fff;background: transparent;height: 40px;border: none; margin-top: 20px; margin-bottom: 20px;}
.contenedor_despertador .despertador_pantalla2 .opcionesSelects {display: inline-block;width: 30%;text-align: left;margin-right: 10%;margin-top: 20px; margin-bottom: 20px;}
.contenedor_despertador .despertador_pantalla2 .opcionesSelects.nomarginR {margin-right: 0;}
.contenedor_despertador .despertador_pantalla2 .opcionesSelects select {width: 100%;background: rgba(0,0,0,0.5); position: relative;color: #fff; text-align: center;height: 35px; -webkit-appearance:none; 
  border:none;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  padding: 0 10px;
  overflow:hidden;
  box-sizing:border-box;
  border-radius: 0px;}
.toggle-positive input:checked+.track {
  border-color: #cc9128 !important;
  background-color: #cc9128 !important;
}
.toggle-positive input:checked+.toggle-inner{
  border-color: #fff !important;
  background-color: #fff !important;
}
.contenedor_despertador .despertador_pantalla2 img.sabe_a_nosotros {left: 0; right: 0; margin: auto;}
.contenedor_despertador .despertador_pantalla2 {text-align: center;}
.despertador_pantalla3 button.detenerAlarma{ background-color:#ec4a54 !important;display: block; position: absolute;left: 0;right: 0;top: 0; bottom: 0;width: 100%;max-width: 200px;max-height: 50px;margin: auto;}
.despertador_pantalla3 img.sabe_a_nosotros {max-width: 150px;position: absolute;left: 10px;bottom: 20px;}
.despertador_pantalla3 .botellas {width: 45%;position: absolute;right: 0;bottom: 0;}
.despertador_pantalla3 .infoAlarmaSuena {height: 60px; width: 100%; position: relative;margin-top: 25%; background: rgba(0,0,0,0.5);text-align: center;font-size: 0;}
.despertador_pantalla3 .infoAlarmaSuena > h1 {color: #fff; text-shadow:1px 1px 3px #000; font-size: 20px; text-align: center; display: block;position: relative;top: -30px;}
.despertador_pantalla3 .infoAlarmaSuena > div {display: inline-block;border-right: 1px solid #fff; width: 100%; max-width: 70px; }
.despertador_pantalla3 .infoAlarmaSuena > div:last-child {border: none;}
.despertador_pantalla3 .infoAlarmaSuena > div h2 {color: #fff; text-align: center;font-size: 20px;}
/****************BODEGA**************/ 
.descripcion_sonido {font-size: 15px;color: #fff;display: block;text-align: center;position: absolute;top: -100px;bottom: 0;left: 0;right: 0;height: 10px; margin: auto;}
.titulo_bodega {width: 100%; height: 40px;margin-top: 10%;position: relative;text-align: center;padding-top: 13px; font-size: 20px;}
.titulo_bodega h1 { color: #fff;}
.select_chica_bodega {width: 100%; background: url(../img/seleccionar-chica.png) no-repeat center; background-size: contain; position: relative;color: #fff; text-align: center;height: 40px; -webkit-appearance:none;
  border:none;
  font-weight:300;
  float: left;
  vertical-align:middle;
  padding: 0 10px;
  overflow:hidden;
  box-sizing:border-box;
  border-radius: 0px;
  text-align: center;
  text-align-last: center;
}
.filtro_bodega { width: 100%; position: relative;height: 85px;background: transparent;text-align: center;}
.filtro_bodega button {display: inline-block; width: 40px; height: 40px; padding: 0;border: 2px solid #fff; border-radius: 100%; background: transparent;margin-right: 20px;    box-shadow: inset 0 0 22px #000;margin-top: 7px;}
.filtro_bodega button.filtro_imagenes {background: url(../img/filtro_imagenes.png); background-position: center; background-size: 20px; background-repeat: no-repeat;}
.filtro_bodega button.filtro_gif {background: url(../img/filtro_gif.png); background-position: center; background-size: 20px; background-repeat: no-repeat;}
.filtro_bodega button.filtro_audio {background: url(../img/filtro_sonidos.png); background-position: center; background-size: 20px; background-repeat: no-repeat;}
.filtro_bodega button.active {background-color:#04529c; border-color: white; box-shadow: none;}
.contenedor_recursos {max-height: 210px;position: relative;overflow-y: scroll;font-size: 0px; text-align: center;}
.contenedor_recursos.sonidos {display: none;}
.home_bodega ion-content > h1 {color: #fff; font-size: 20px; text-transform: capitalize;margin-top: 20px; margin-bottom: 20px; position: relative;text-align: center;}
.contenedor_recursos button.imagenes_bodega { max-width: 25%;padding: 0;background-color: transparent; border: 0px;margin-right: 5%;margin-bottom: 5%;position: relative;}
.contenedor_recursos button.imagenes_bodega img {width: 100%;display: block;}
.contenedor_recursos div button.imagenes_bodega:nth-child(3n) {margin-right: 0px;}
.preview_image {position: relative;height: 300px;overflow: hidden;width: 100%;background: url(../img/blue_loader.gif);background-position: center; background-size: 50px; background-repeat: no-repeat;}
.preview_image img.preview_img {width: auto;    display: block;height: 100%; margin: 0 auto; position: relative; z-index: 998;}
.preview_image_2 {position: relative;height: 300px;overflow: hidden;width: 100%;}
.preview_image_2 img {width: 100%;   display: block;height: 100%; margin: 0 auto; position: relative; z-index: 999;}
.download_gif { transform: rotate(180deg); z-index: 1000;display: block;width: 50px; height: 50px;background: url(../img/icono_download.png); background-position: center; background-size: 50px; background-repeat: no-repeat;position: absolute;bottom: 10px; left: 10px;}
.contenedor_recursos button.imagenes_bodega .download_gif {background-size: 25px; right: 10px; left: auto; height: 40px;width: 40px;}
.home_bodega {font-size: 0px !important;}
.content_header_bodega {font-size: 0px !important; height: 60px;}
.titulo_seleccione_chica {font-size: 12px;color: #fff;position: relative;float: left; width: 30%; text-align: center; height: 40px;vertical-align: bottom;background: rgba(0,0,0,0.5);padding-top: 15px;}
.loader_preview {position: absolute !important;left: 0; right: 0; bottom: 0; top: 0; margin: auto !important; width: 80px !important;height: auto !important; z-index: 998 !important}
.sharebutton {position: absolute;left: 60px; bottom: 10px;width: 60px;height: 50px;border: none;background: none;z-index: 999; display:block;}
.sharebutton img {width: 100%;display: block;}
.velo_share {width: 100%;height: 100%;background: rgba(0,0,0,0.7) url(../img/blue_loader.gif);background-repeat: no-repeat;background-position: center;background-size: 50px;position: absolute; z-index: 1005;display: block; top:0; left:0}
.reproducir_button {display: none; position: absolute;width: 200px; height: 40px; background: none; border: 2px solid #fff; box-shadow: 1px 1px 1px #000; text-transform: uppercase;z-index: 999; color: #fff;font-weight: bold;left: 0;right: 0; bottom: 0; top: -20px; margin: auto;text-shadow: 1px 1px 1px #000; border-radius: 5px; -webkit-border-radius: 5px;}
.noback {background: none; height: 140px !important;}
/**********************SETTINGS********************/
.setting .content_h1 {height: 40%;position: relative; background: rgba(0,0,0,0.5);}
.setting .content_h1 > h1 {text-align: center;color:#fff;top: 60%;position: relative;text-transform: capitalize;font-size: 18px;}
.setting .contenedor_settings {height: 90%; background: rgba(0,0,0,0.5);width: 100%;position: relative;}
.setting .contenedor_settings  button{color: #fff;width: 100%; background: #065396 url(../img/icono-siguiente-2.png);padding: 20px 20px;border: none;background-repeat: no-repeat;background-position: 90% center;background-size: 10px;font-size: 22px; text-align: left;}
.setting  .botellaFondo {background:url(../img/Polarcita-Frontal.png);width: 100%; height: 100%; left: 20%; top: 20%; position: absolute;background-repeat: no-repeat;background-position: right bottom; background-size:  60% auto;}
.setting .contenedor_settings .sabe_a_nosotros { position: absolute; bottom: 30px; left: 0;right: 0;margin: auto; width: 100%;}
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
@media screen and (max-height: 615px) and (max-width: 385px){
		.preview_image {position: relative;height: 220px;overflow: hidden;width: 100%;}
        .contenedor_recursos {max-height: 32%;}
}
@media screen and (max-height: 553px) {
	.ver_evento button.button.color{top: -45px;}
    .ver_evento .contenedor_evento_creado .detalle_inicio h2,.ver_evento .contenedor_evento_creado .detalle_fin h2 {margin-left: 20px; color: #fff;position:relative; font-size:40px; text-align: right;}
/***********************INDEX**************************/
.controles span{right: 100px;}
.preview_image{margin-top: 0; height: 245px !important;}
.tipoCalendario ion-content .content_h1{height: 15%;}
.intro {background: url(../img/FONDO-PAPEL.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
.intro .logo {position: relative;margin: 15% auto 0 auto; top: 10%; max-width: 140px; display: block;}
.intro ion-content > h1 {text-align: center;color: #fff; font-size: 24px; margin-top: 40px;font-family: "globerthin_free";font-weight: bold;}
.mayorEdad_tags {width:  100%;position: absolute;text-align: center;}
.mayorEdad_tags > h1 {display: inline-block;padding-right: 20px; color: #fff; font-size: 12px; width: 80px;margin-top: 5px;}
.intro .recolectar_nacimiento {background: rgba(0,0,0,0.5); width: 100%; height: 55px; text-align: center; margin-top: 30px; font-size: 0px;position: relative;}
.intro .recolectar_nacimiento button {display: inline-block; margin-top: 15px; background: transparent;height: 35px;border: none; text-align: center; color: rgba(255,255,225,1); font-size: 24px;font-family: "globerthin_free"; padding-top: 4px;}
.intro .recolectar_nacimiento button.dia {width: 80px; border-right: 1px solid rgba(255,255,255,0.5); padding-right: 0px;}
.intro .recolectar_nacimiento button.mes {width: 80px; border-right: 1px solid rgba(255,255,255,0.5);}
.intro .recolectar_nacimiento button.ano {width: 100px;}
.intro button.button.color {margin: 20px auto; display: block; padding: 0 40px; width: 200px;}
.intro .sabe_a_nosotros {margin: 30px auto; width: 110px;}
.intro .botellas {width: 50%; max-width: 220px; display: block;margin: 0 auto;position: absolute;bottom: 0; left: 0; right: 0;}
.rif.top.right {position: absolute; top: 10px; right: 10px; color: #fff; font-size: 10px; z-index: 999}
.intro .recolectar_nacimiento ionic-datepicker {width:  100%; height: 100%;display: block;position: absolute;top: 0; right: 0;}
.preview_image_2 img{margin-top: 10%;}
/********************CHICAS***********************/
  .page_chicas .chicas {text-align: center;position: relative; max-width: 170px !important; left: 0; right: 0; margin: 10% auto 0 auto;}
  .page_chicas .chicas .chica_item button { padding: 0; width: 70px; height: 70px; border:none; background: none;background-repeat: no-repeat !important; background-size: contain !important;color: #fff; margin-bottom: 15px; display: inline-block;}
  .page_chicas .chicas .chica_item button.active {border:3px solid #06559f;}
  .page_chicas .chicas .chica_item button.karen {background: url(../img/karen.png);}
  .page_chicas .chicas .chica_item button.georgina {background: url(../img/georgina.png);}
  .page_chicas .chicas .chica_item button.gabriela_c {background: url(../img/gabriela-c.png);}
  .page_chicas .chicas .chica_item button.gabriela {background: url(../img/gabriela.png);}
  .page_chicas .chicas .chica_item button.anmarie {background: url(../img/anmarie.png);}
  .page_chicas .chicas .chica_item button.grupal {background: url(../img/grupal.png);}
  .page_chicas button.button.color {margin: 10px auto; display: block; padding: 0 40px;width: 200px;}
  .page_chicas .chicas .chica_item {display: inline-block;max-width: 70px;margin-right: 25px !important; margin-bottom: 30px;vertical-align: top;}
  .page_chicas .chicas .chica_item span {color: #fff;font-size: 12px;}
  .page_chicas .sabe_a_nosotros {position: absolute;left: 0; right: 0; margin: auto; bottom: 0; height: 40px; background: rgba(0,0,0,0.5);}
  .page_chicas .sabe_a_nosotros img {max-width: 160px;margin: 0 auto; display: block;padding-top: 12px;}
  .page_chicas .chicas_sin_seleccion > h1 {color: #fff; font-weight: bold;  font-size: 25px;margin-top: 25%; position: relative;text-align: center;}
  .page_chicas .chicas_sin_seleccion > h1:nth-child(2) {margin-top: 0px;}
  .page_chicas .chicas_sin_seleccion > h1:nth-child(2) span{font-family: "globerthin_free"}
  .page_chicas .chicas_sin_seleccion > h2 {}
}
@media screen and (max-width: 360px) and (min-height: 554px){
  .page_chicas .chicas {text-align: center;position: relative; max-width: 200px; left: 0; right: 0; margin: 10% auto 0 auto;}
  .page_chicas .chicas .chica_item button { padding: 0; width: 70px; height: 70px; border:none; background: none;background-repeat: no-repeat !important; background-size: contain !important;color: #fff; display: inline-block; margin-bottom: 15px;}
  .page_chicas .chicas .chica_item button.active {border:3px solid #06559f;}
  .page_chicas .chicas .chica_item button.karen {background: url(../img/karen.png);}
  .page_chicas .chicas .chica_item button.georgina {background: url(../img/georgina.png);}
  .page_chicas .chicas .chica_item button.gabriela_c {background: url(../img/gabriela-c.png);}
  .page_chicas .chicas .chica_item button.gabriela {background: url(../img/gabriela.png);}
  .page_chicas .chicas .chica_item button.anmarie {background: url(../img/anmarie.png);}
  .page_chicas .chicas .chica_item button.grupal {background: url(../img/grupal.png);}
  .page_chicas button.button.color {margin: 20px auto; display: block; padding: 0 40px;width: 200px;}
  .page_chicas .chicas .chica_item {display: inline-block;max-width: 70px;margin-right: 10px; margin-bottom: 30px;vertical-align: top;}
  .page_chicas .chicas .chica_item span {color: #fff;}
  .page_chicas .sabe_a_nosotros {position: absolute;left: 0; right: 0; margin: auto; bottom: 0; height: 40px; background: rgba(0,0,0,0.5);}
  .page_chicas .sabe_a_nosotros img {max-width: 160px;margin: 0 auto; display: block;padding-top: 12px;}
  .page_chicas .chicas_sin_seleccion > h1 {color: #fff; font-weight: bold;  font-size: 25px;margin-top: 25%; position: relative;text-align: center;}
  .page_chicas .chicas_sin_seleccion > h1:nth-child(2) {margin-top: 0px;}
  .page_chicas .chicas_sin_seleccion > h1:nth-child(2) span{font-family: "globerthin_free"}
  .page_chicas .chicas_sin_seleccion > h2 {}
}
@media screen and (max-width: 340px) {
    .page_chicas .chicas {text-align: center;position: relative; max-width: 200px; left: 0; right: 0; margin: 10% auto 0 auto;}
    .page_chicas .chicas .chica_item button {padding: 0; width: 70px; height: 70px; border:none; background: none;background-repeat: no-repeat !important; background-size: contain !important;color: #fff; margin-bottom: 15px; display: inline-block;}
    .page_chicas .chicas .chica_item button.active {border:3px solid #06559f;}
    .page_chicas .chicas .chica_item button.karen {background: url(../img/karen.png);}
    .page_chicas .chicas .chica_item button.georgina {background: url(../img/georgina.png);}
    .page_chicas .chicas .chica_item button.gabriela_c {background: url(../img/gabriela-c.png);}
    .page_chicas .chicas .chica_item button.gabriela {background: url(../img/gabriela.png);}
    .page_chicas .chicas .chica_item button.anmarie {background: url(../img/anmarie.png);}
    .page_chicas .chicas .chica_item button.grupal {background: url(../img/grupal.png);}
    .page_chicas button.button.color {margin: 10px auto; display: block; padding: 0 40px;width: 200px;}
    .page_chicas .chicas .chica_item {display: inline-block;max-width: 50px;margin-right: 30px; margin-bottom: 10px;vertical-align: top;}
    .page_chicas .chicas .chica_item span {color: #fff;font-size: 12px;}
    .page_chicas .sabe_a_nosotros {position: absolute;left: 0; right: 0; margin: auto; bottom: 0; height: 40px; background: rgba(0,0,0,0.5);}
    .page_chicas .sabe_a_nosotros img {max-width: 160px;margin: 0 auto; display: block;padding-top: 12px;}
    .page_chicas .chicas_sin_seleccion > h1 {color: #fff; font-weight: bold;  font-size: 25px;margin-top: 25%; position: relative;text-align: center;}
    .page_chicas .chicas_sin_seleccion > h1:nth-child(2) {margin-top: 0px;}
    .page_chicas .chicas_sin_seleccion > h1:nth-child(2) span{font-family: "globerthin_free"}
    .page_chicas .chicas_sin_seleccion > h2 {}
    /***********************INDEX**************************/
    .intro {background: url(../img/FONDO-PAPEL.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
    .intro .logo {position: relative;margin: 15% auto 0 auto; top: 10%; max-width: 130px; display: block;}
    .intro ion-content > h1 {text-align: center;color: #fff; font-size: 24px; margin-top: 40px;font-family: "globerthin_free";font-weight: bold;}
    .mayorEdad_tags {width:  100%;position: absolute;text-align: center;}
    .mayorEdad_tags > h1 {display: inline-block;padding-right: 20px; color: #fff; font-size: 12px; width: 80px;margin-top: 5px;}
    .intro .recolectar_nacimiento {background: rgba(0,0,0,0.5); width: 100%; height: 55px; text-align: center; margin-top: 30px; font-size: 0px;position: relative;}
    .intro .recolectar_nacimiento button {display: inline-block; margin-top: 15px; background: transparent;height: 35px;border: none; text-align: center; color: rgba(255,255,225,1); font-size: 24px;font-family: "globerthin_free"; padding-top: 4px;}
    .intro .recolectar_nacimiento button.dia {width: 80px; border-right: 1px solid rgba(255,255,255,0.5); padding-right: 0px;}
    .intro .recolectar_nacimiento button.mes {width: 80px; border-right: 1px solid rgba(255,255,255,0.5);}
    .intro .recolectar_nacimiento button.ano {width: 100px;}
    .intro button.button.color {margin: 20px auto; display: block; padding: 0 40px; width: 200px;}
    .intro .sabe_a_nosotros {margin: 30px auto; width: 110px;}
    .intro .botellas {width: 50%; max-width: 220px; display: block;margin: 0 auto;position: absolute;bottom: 0; left: 0; right: 0;}
    .rif.top.right {position: absolute; top: 10px; right: 10px; color: #fff; font-size: 10px; z-index: 999}
    .intro .recolectar_nacimiento ionic-datepicker {width:  100%; height: 100%;display: block;position: absolute;top: 0; right: 0;}
    /********************CHICAS***********************/
    .contenedor_slider button.button.color {margin: 20px auto;display: block;padding: 0 20px;top: 52%;position: absolute;left: 0;right: 0;width: 120px;font;size: 12px;height: 35px !important;min-height: 35px;line-height: 12px}
    .slider_chicas .slider-pager {top:50%;}
    /*********** crear eventos*****************/
    .agregar_evento {font-size: 0px;}
    .agregar_evento span {width: 40%;display: inline-block;margin-bottom: 10px;margin-right: 4%}
    .agregar_evento span:nth-child(3n) {margin-right: 0px;}
    .agregar_evento span h1 {color: #fff; font-size: 13px;}
    .agregar_evento span h2 {color: #fff; font-size: 12px;padding-top: 10px;padding-bottom: 10px; background: rgba(0,0,0,0.5);position: relative;}
    .agregar_evento .nombre_evento {width: 100%; border: none; border-bottom: 1px solid; background: none;text-align: center;color: #fff;padding-bottom: 10px; margin-bottom: 20px; font-size: 16px;}
    .agregar_evento .button {width: 100%; max-width: 200px;margin-top: 20px;}
    .agregar_evento select {color: #fff; border: none;  background: rgba(0,0,0,0.5); padding-top: 5px; padding-bottom: 9px; width: 40%; margin-right: 4%;-webkit-appearance:none;
        border:none;
        font-weight:300;
        display:inline;
        vertical-align:middle;
        padding: auto 0;
        padding-left: 10px;
        overflow:hidden;
        box-sizing:border-box;
        border-radius: 0px;}
    .agregar_evento select:nth-child(7) {margin-right: 0px;}
    /********** LISTA DE EVENTOS ********************/
    .calendario_dia .eventos_container ul {height:85%}
    /*********** vista del evento *******************/
    .ver_evento .contenedor_evento_creado {margin-top:10px;}
    .ver_evento .contenedor_evento_creado .detalle_recordatorio span {height: 50px;width: 50px;display: block;border-radius: 100%;border: 2px solid #fff;margin: 0 auto;color: #fff;padding-top: 17px;}
    .ver_evento .contenedor_evento_creado .detalle_inicio span, .ver_evento .contenedor_evento_creado .detalle_fin span {font-size:50px;}
    .ver_evento .contenedor_evento_creado .detalle_inicio h1, .ver_evento .contenedor_evento_creado .detalle_fin h1 {font-size:16px;}
    /******** bodega ***********/
    .preview_image {height:160px;}
    .contenedor_recursos button.imagenes_bodega {max-width:22%;}
    .download_gif {width:40px; height:40px; background-size:40px;}
    .sharebutton {width:58px; height: 48px; left:49px;}
    .filtro_bodega {height:40px;}
    .filtro_bodega button {width:30px; height:30px; margin-top:4px;}
    /************ home **************/
    .custom-header {height:12px;}
    .custom-header h2 {font-size:8px;}
    .fc-calendar .fc-row > div > span.fc-date {font-size:7px;}
    .custom-calendar-wrap {margin-bottom:2px;}
    .fc-calendar .fc-row > div {height:10px; width:10px;}
    /************* alarma ******************/
    .contenedor_despertador .despertador_pantalla2 .picker_alarma button {font-size:20px;}
}