<!DOCTYPE html>
<!--
    Copyright (c) 2012-2014 Adobe Systems Incorporated. All rights reserved.

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <!--meta http-equiv="Content-Security-Policy" content="default-src 'self'"-->
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
        <link rel="stylesheet" type="text/css" href="css/calendar.css" />
        <link rel="stylesheet" type="text/css" href="css/custom_2.css" />
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" >
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="dist/ionic-datepicker.bundle.min.js"></script>
        <script src="dist/ionic-timepicker.bundle.min.js"></script>
        <title>Calendario Polar Pilsen 2017</title>
    </head>
    <body ng-app="starter">
    <div class="loader_ini"></div>
    <div class="loader_seleccion"></div>
    <ion-nav-view></ion-nav-view>
    <script id="templates/loader.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Awesome" class="loaderIntro">
        <ion-content scroll="false">

        </ion-content>
      </ion-view>
    </script>
    <script id="templates/main.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Awesome" class="intro">
        <ion-content scroll="false">
            <div class="rif top right">
                RIF: J-00006372-9
            </div>
            <img src="img/logo_pilsenAzul.png" class="logo">
            <h1>Fecha de nacimiento</h1>
            <div class="recolectar_nacimiento" >
                <div class="mayorEdad_tags">
                    <h1>día</h1>
                    <h1>Mes</h1>
                    <h1>Año</h1>
                </div>
                <button type="text" class="dia" myclick="mayorEdad()" ng-model="diaMayorEdad" ng-bind="diaMayorEdad"></button>
                <button type="text" class="mes" myclick="mayorEdad()" ng-model="mesMayorEdad" ng-bind="mesMayorEdad"></button>
                <button type="text" class="ano" myclick="mayorEdad()" ng-model="anoMayorEdad" ng-bind="anoMayorEdad"></button>
                <ionic-datepicker input-obj="datepickerObject">
                </ionic-datepicker>
            </div>

            <button class="button color" myclick="toSeleccion()">continuar</button>
<!--             <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros">
            <img src="img/BOTELLAS.png" class="botellas"> -->
        </ion-content>
      </ion-view>
    </script>
    <script id="templates/tipoCalendario.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Awesome" class="tipoCalendario fondo">
        <ion-content scroll="false">
            <div class="rif top right">
                RIF: J-00006372-9
            </div>
            <div class="logo_pilsen left top fijo"></div>
            <div class="content_h1">
                <h1>Tipo de Calendario</h1>
            </div>
            <div class="recolectar_tipoCalendarop">
                <h2>Hay dos formas de vivir el </h2>
                <h1>Calendario Chicas Polar Pilsen 2017<h1>
                <br>
                <h2>Activa la versión que más te guste</h2>
                <br>
                <!-- <button myclick="tipoCalendario(1)">aniversario</button> -->
                <button myclick="tipoCalendario(2)">personalizado</button>
                <button myclick="tipoCalendario(3)">aleatorio</button>
            </div>
<!--             <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros">
            <img src="img/BOTELLAS.png" class="botellas"> -->
        </ion-content>
      </ion-view>
    </script>
    <script id="templates/seleccion_chica.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Awesome" class="page_chicas fondo">
        <ion-content scroll="false">
            <div class="rif top right">
                RIF: J-00006372-9
            </div>
            <div class="logo_pilsen left top"></div>
            <div class="chicas_sin_seleccion">
                <h1>Escoge</h1>
                <h1><span>a la</span> chica</h1>
                <div class="chicas">
<!--                     <div class="chica_item">
                        <button class="karen active" myclick="eleccionChica(0)"></button>
                        <span>Karen</span>
                    </div> -->
                    <div class="chica_item">
                        <button class="georgina" myclick="eleccionChica(1)"></button>
                        <span>Georgina</span>
                    </div>
                    <div class="chica_item">
                        <button class="gabriela_c" myclick="eleccionChica(2)"></button>
                        <span>Grabriela C.</span>
                    </div>
                    <div class="chica_item">
                        <button class="gabriela" myclick="eleccionChica(3)"></button>
                        <span>Gabriella</span>
                    </div>
                    <div class="chica_item">
                        <button class="anmarie" myclick="eleccionChica(4)"></button>
                        <span>Anmarie</span>
                    </div>
                    <div class="chica_item item_grupal">
                        <button class="grupal" myclick="eleccionChica(5)"></button>
                        <span>Grupal</span>
                    </div>
                </div>
                <button class="button color" myclick="toSlider()">
                    continuar
                </button>
            </div>
<!--             <div class="sabe_a_nosotros" id="sabe_a_nosotros" >
                <img src="img/Sabe-a-nosotros.png" >
            </div> -->
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/slider.html" type="text/ng-template"> 
      <ion-view hide-back-button="true" view-title="Slider" class="fondo">
        <div class="rif top right">
            RIF: J-00006372-9
        </div>
        <!-- <div class="logo_pilsen left top"></div> -->
        <ion-content scroll="false" class="contenedor_slider">
            <h1>Escoge a la chica</h1>
            <div class="opciones_chicas">
<!--                 <div class="chica_item">
                    <button class="karen active" myclick="eleccionChica(0)"></button>
                    <span class="active"></span>
                </div> -->
                <div class="chica_item">
                    <button class="georgina" myclick="eleccionChica(1)"></button>
                    <span></span>
                </div>
                <div class="chica_item">
                    <button class="gabriela_c" myclick="eleccionChica(2)"></button>
                    <span></span>
                </div>
                <div class="chica_item">
                    <button class="gabriela" myclick="eleccionChica(3)"></button>
                    <span></span>
                </div>
                <div class="chica_item">
                    <button class="anmarie" myclick="eleccionChica(4)"></button>
                    <span></span>
                </div>
                <div class="chica_item">
                    <button class="grupal"  myclick="eleccionChica(5)"></button>
                    <span></span>
                </div>
            </div>
            <div class="slider_content">
	            <ion-slide-box on-slide-changed="slideChanged(index)" class="slider_chicas">
	              <ion-slide>
	              	<h1>{{chicaSeleccion.Mychica.name}}</h1>
	                <h3></h3>
	                <div class="chica_slider">
	                  <img src="DetalleChicaEscogida/{{chicaSeleccion.Mychica.name}}/EscogeChica_{{chicaSeleccion.Mychica.name}}_1.jpg" style="max-width:100%;">
	                </div>
	              </ion-slide>
	              <ion-slide>
	              	<h1>{{chicaSeleccion.Mychica.name}}</h1>
	                <h3></h3>
	                <div class="chica_slider">
	                  <img src="DetalleChicaEscogida/{{chicaSeleccion.Mychica.name}}/EscogeChica_{{chicaSeleccion.Mychica.name}}_2.jpg" style="max-width:100%;">
	                </div>
	              </ion-slide>
	              <ion-slide>
	              	<h1>{{chicaSeleccion.Mychica.name}}</h1>
	                <h3></h3>
	                <div class="chica_slider">
	                  <img src="DetalleChicaEscogida/{{chicaSeleccion.Mychica.name}}/EscogeChica_{{chicaSeleccion.Mychica.name}}_3.jpg" style="max-width:100%;">
	                </div>
	              </ion-slide>
                  <ion-slide>
                    <h1>{{chicaSeleccion.Mychica.name}}</h1>
                    <h3></h3>
                    <div class="chica_slider">
                      <img src="DetalleChicaEscogida/{{chicaSeleccion.Mychica.name}}/EscogeChica_{{chicaSeleccion.Mychica.name}}_4.jpg" style="max-width:100%;">
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <h1>{{chicaSeleccion.Mychica.name}}</h1>
                    <h3></h3>
                    <div class="chica_slider">
                      <img src="DetalleChicaEscogida/{{chicaSeleccion.Mychica.name}}/EscogeChica_{{chicaSeleccion.Mychica.name}}_5.jpg" style="max-width:100%;">
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <h1>{{chicaSeleccion.Mychica.name}}</h1>
                    <h3></h3>
                    <div class="chica_slider">
                      <img src="DetalleChicaEscogida/{{chicaSeleccion.Mychica.name}}/EscogeChica_{{chicaSeleccion.Mychica.name}}_6.jpg" style="max-width:100%;">
                    </div>
                  </ion-slide>
	            </ion-slide-box>
	            <button class="button color" myclick="toPrincipal();">
	                continuar
	            </button>
            </div>
<!--             <div class="sabe_a_nosotros" id="sabe_a_nosotros" >
                <img src="img/Sabe-a-nosotros.png" >
            </div> -->
        </ion-content>
      </ion-view>
    </script>
    <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-top tabs-color-tab" >

          <ion-tab icon-on="ion-calendario" icon-off="ion-calendario" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab  icon-on="ion-despertador" icon-off="ion-despertador" href="#/tab/despertador">
            <ion-nav-view name="despertador-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab  icon-on="ion-bodega" icon-off="ion-bodega" href="#/tab/bodega/karen">
            <ion-nav-view name="bodega-tab"></ion-nav-view>
          </ion-tab>
          <ion-tab  icon-on="ion-setting" icon-off="ion-setting" href="#/tab/settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
          </ion-tab>
        </ion-tabs>
    </script>
    <script id="templates/calendario_home.html" type="text/ng-template">
          <ion-view hide-back-button="true" view-title="Awesome" class="calendario_home fondo">
            <ion-content scroll="false" >
                <div class="rif top right">
                    RIF: J-00006372-9
                </div>
                <div class="logo_pilsen left top"></div>
                <img src="{{ layout }}.jpg" class="imagenPrueba">
                <div class="modal_meses ">
                  <ion-view hide-back-button="true" view-title="Awesome" >
                    <ion-content scroll="false" >

                        <div class="controles"><span>{{mes}}</span><button class="control_meses" myclick="slideTo(0)"></button><button class="control_mes" myclick="slideTo(1)"></button><button class="control_add" myclick="slideTo(3)"></button></div>
                        <div class="barra_volverGeneral"><h1>{{barraGeneral}}</h1><button myclick="myGoBack()" class="goBack"></button></div>
                        <ion-slide-box delegate-handle="modalSlider" show-pager="false" class="contenedor_calendario_meses" on-slide-changed="slideChanged(index)">
                          <ion-slide class="meses_calendario" scroll="false">            
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(01)">
                                <div id="custom-inner1" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar1" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(02)">
                                <div id="custom-inner2" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar2" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(03)">
                                <div id="custom-inner3" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar3" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(04)">
                                <div id="custom-inner4" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar4" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(05)">
                                <div id="custom-inner5" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar5" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(06)">
                                <div id="custom-inner6" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar6" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(07)">
                                <div id="custom-inner7" class="custom-inner">
                                    <div class="custom-header clearfix">

                                        <h2 id="custom-month" class="custom-month"></h2>
                                        
                                    </div>
                                    <div id="calendar7" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(08)">
                                <div id="custom-inner8" class="custom-inner">
                                    <div class="custom-header clearfix">
                                        <h2 id="custom-month" class="custom-month"></h2>
                                    </div>
                                    <div id="calendar8" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(09)">
                                <div id="custom-inner9" class="custom-inner">
                                    <div class="custom-header clearfix">
                                        <h2 id="custom-month" class="custom-month"></h2>
                                    </div>
                                    <div id="calendar9" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(10)">
                                <div id="custom-inner10" class="custom-inner">
                                    <div class="custom-header clearfix">
                                        <h2 id="custom-month" class="custom-month"></h2>
                                    </div>
                                    <div id="calendar10" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(11)">
                                <div id="custom-inner11" class="custom-inner">
                                    <div class="custom-header clearfix">
                                        <h2 id="custom-month" class="custom-month"></h2>
                                    </div>
                                    <div id="calendar11" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <div class="custom-calendar-wrap" myclick="mesSeleccion(12)">
                                <div id="custom-inner12" class="custom-inner">
                                    <div class="custom-header clearfix">
                                        <h2 id="custom-month" class="custom-month"></h2>
                                    </div>
                                    <div id="calendar12" class="fc-calendar-container"></div>
                                </div>
                            </div>
                            <!-- <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros"> -->
                          </ion-slide>
                          <ion-slide class="calendario_mes" on-swipe-left="right_mes()" on-swipe-right="left_mes()">

                            <div class="custom-calendar-wrap" >
                                <div id="custom-inner" class="custom-inner">
                                    <div class="custom-header clearfix">
                                    </div>
                                    <div id="calendar_mes" class="fc-calendar-container"></div>
                                </div>
                            </div>
                          </ion-slide>
                          <ion-slide class="calendario_dia">
                            <div class="eventos_container" scroll="true" >
                                <h1></h1>
                                <h2></h2>
                                <ul>
                                    <li datetime="00">
                                        <h1>12:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="01">
                                        <h1>01:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="02">
                                        <h1>02:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="03">
                                        <h1>03:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="04">
                                        <h1>04:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="05">
                                        <h1>05:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="06">
                                        <h1>06:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="07">
                                        <h1>07:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="08">
                                        <h1>08:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="09">
                                        <h1>09:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="10">
                                        <h1>10:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="11">
                                        <h1>11:00 am</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="12">
                                        <h1>12:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="13">
                                        <h1>01:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="14">
                                        <h1>02:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="15">
                                        <h1>03:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="16">
                                        <h1>04:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="17">
                                        <h1>05:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="18">
                                        <h1>06:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="19">
                                        <h1>07:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="20">
                                        <h1>08:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="21">
                                        <h1>09:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="22">
                                        <h1>10:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                    <li datetime="23">
                                        <h1>11:00 pm</h1><span></span>
                                        <div class="eventos_individuals"></div>
                                    </li>
                                </ul>
                            </div>
                          </ion-slide>
                            <ion-slide class="agregar_evento">
                                <input class="nombre_evento" ng-model="model.titulo" maxlength="20"  placeholder="Nombre del evento">
                                <span  dateStart="{{start_Date}}">
                                    <h1>Fecha de inicio</h1>
                                    <h2>{{start_Date}}
                                    <ionic-datepicker input-obj="datepickerObject">
                                    </ionic-datepicker>
                                    </h2>
                                </span>
                                <span  dateEnd="{{end_Date}}">
                                    <h1>Fecha fin</h1>
                                    <h2>{{end_Date}}
                                        <ionic-datepicker input-obj="datepickerObject2">
                                        </ionic-datepicker>
                                    </h2>
                                </span>
                                <span  timeStart="{{start_Time}}">
                                    <h1>Hora de inicio</h1>
                                    <h2>{{start_Time}}
                                    <ionic-timepicker input-obj="timePickerObject">
                                    </ionic-timepicker>
                                    </h2>
                                </span>
                                <span  timeEnd="{{end_Time}}" ng-style="{'margin-right':'0px'}">
                                    <h1>Hora de fin</h1>
                                    <h2>{{end_Time}}
                                    <ionic-timepicker input-obj="timePickerObject2">
                                    </ionic-timepicker>
                                    </h2>
                                </span>
                                <select ng-model="repeticion.myRepeticion" ng-options="repeticions.name for repeticions in repeticion">
                                </select>
                                <select ng-model="chicaVozEvento.chicaVozEventoModel" ng-options="chicaVozEvento.name for chicaVozEvento in chicaVozEvento">
                                </select>
                                <button class="button color" myclick="crearEvento()">crear evento</button>
                            </ion-slide>
                            <ion-slide class="ver_evento">
                                <div class="barra_volver"><h1>Detalle evento</h1><button myclick="myGoBack()" class="goBack"></button><button myclick="slideTo(5)" class="editButton"></button></div>
                                <div class="contenedor_evento_creado">
                                    <h1>{{model.titulo}}</h1>
                                    <div class="detalle_inicio">
                                            <h1>Inicio</h1>
                                        <h2>{{start_Time}}</h2>

<!--                                         <h1>Inicio</h1>
                                        <span>{{TMPdiaIni}}</span>
                                        <h3>{{TMPmesIni}}</h3>
                                        <h2>{{start_Time}}</h2> -->
                                    </div>
         <!--                            <div class="detalle_fin">
                                        <h1>Fin</h1>
                                        <span>{{TMPdiaEnd}}</span>
                                        <h3>{{TMPmesEnd}}</h3>
                                        <h2>{{end_Time}}</h2>
                                    </div> -->
                                    <div class="detalle_recordatorio">
                                        <h1>Repetición</h1>
                                        <span>{{repeticion.myRepeticion.name}}</span>
                                    </div>
                                </div>
                                <button class="button color" myclick="EliminarEvento()">eliminar evento</button>
                            </ion-slide>
                            <ion-slide class="agregar_evento">
                                <input class="nombre_evento" ng-model="model.titulo" maxlength="20"  placeholder="Nombre del evento">
                                <span dateStart="{{start_Date}}">
                                    <h1>Fecha de inicio</h1>
                                    <h2>{{start_Date}}
                                        <ionic-datepicker input-obj="datepickerObject">
                                        </ionic-datepicker>
                                    </h2>
                                </span>
                                <span dateEnd="{{end_Date}}">
                                    <h1>Fecha fin</h1>
                                    <h2>{{end_Date}}
                                        <ionic-datepicker input-obj="datepickerObject2">
                                        </ionic-datepicker>
                                    </h2>
                                </span>
                                <span timeStart="{{start_Time}}">
                                    <h1>Hora de inicio</h1>
                                    <h2>{{start_Time}}
                                        <ionic-timepicker input-obj="timePickerObject">
                                        </ionic-timepicker>
                                    </h2>
                                </span>
                                <span timeEnd="{{end_Time}}" ng-style="{'margin-right':'0px'}">
                                    <h1>Hora de fin</h1>
                                    <h2>{{end_Time}}
                                        <ionic-timepicker input-obj="timePickerObject2">
                                        </ionic-timepicker>
                                    </h2>
                                </span>
                                <select ng-model="repeticion.myRepeticion" ng-options="repeticions.name for repeticions in repeticion">
                                </select>
                                <select ng-model="chicaVozEvento.chicaVozEventoModel" ng-options="chicaVozEvento.name for chicaVozEvento in chicaVozEvento">
                                </select>
                                <button class="button color" myclick="UpdateEvent()">Fin edición</button>
                            </ion-slide>
                        </ion-slide-box>
                       
                    </ion-content>
                  </ion-view>
                </div>
               <!-- <a myclick="openModal()" ng-hide="myValue" class="ng-hide flecha_down"></a> -->
            </ion-content>
          </ion-view>
    </script>
    <script id="templates/despertadorAlarma.html" type="text/ng-template">
          <ion-view hide-back-button="true" view-title="Awesome" class="calendario_home fondo">
            <ion-content scroll="false" class="despertador_pantalla3">
                <div class="rif top right">
                    RIF: J-00006372-9
                </div>
                <div class="logo_pilsen left top"></div>
                <img src="{{ layout }}.jpg" class="imagenPrueba">
                <div class="infoAlarmaSuena">
                    <h1>{{TituloAlarmaSuena}}</h1>
                    <div>
                        <h2>{{HoraAlarmaSuena}}</h2>
                    </div>

                    <div>
                        <h2>{{MinutosAlarmaSuena}}</h2>
                    </div>

                    <div>
                        <h2>{{FormatoAlarmaSuena}}</h2>
                    </div>
                </div>
                <button class="button color detenerAlarma" myclick="detenerAlarma()">DETENER ALARMA</button>
<!--                 <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros">
                <img src="img/BOTELLAS.png" class="botellas"> -->
            </ion-content>
          </ion-view>
    </script>
    <script id="templates/despertador_home.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Despertador" class="despertador_home fondo">
        <ion-content scroll="false" >
            <div class="rif top right">
                RIF: J-00006372-9
            </div>
            <div class="logo_pilsen left top"></div>
            <img src="{{ layout }}.jpg" class="imagenPrueba">
            <div class="contenedor_despertador">
                <div class="controles"><span>{{mes}}</span><button class="control_add" myclick="slideTo(2)"></button></div>
                <div class="barra_volverGeneral"><h1>{{barraGeneral}}</h1><button myclick="slideTo(0)" class="goBack"></button></div>
                <ion-slide-box delegate-handle="modalSliderDespertador" show-pager="false" class="contenedor_calendario_meses" on-slide-changed="slideChangedDespertador(index)" ng-init="lockSlide()">
                    <ion-slide class="despertador_pantalla1" scroll="false" >
                        <div id="pantallaAlarmas">
                            <ion-toggle style="background: transparent;" ng-repeat="tog in toggle" ng-model="tog.checked"  ng-checked="{{tog.checked}}" ng-change="estadoAlarma({{tog.ID}})" data-id="{{tog.ID}}" toggle-class="toggle-positive" class="lista_alarmas">
                                <span myclick="update_alarma({{tog.ID}})">{{tog.TITULO}} - {{tog.HORA}}:{{tog.MINUTOS}} {{tog.FORMATO}}</span>
                            </ion-toggle>
                        </div>
<!--                         <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros">
                        <img src="img/BOTELLAS.png" class="botellas"> -->
                    </ion-slide>
                    <ion-slide class="despertador_pantalla1" scroll="false">    
                        <img src="img/imagen_despertador.png" class="imagen_despertador">
                        <h1>Despiértate con quien<br>más te guste</h1>
                        <h2>Elige a la chica y configura tus alarmas</h2>
                        <button class="button color" myclick="slideTo(2)">crear alarma</button>
<!--                         <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros">
                        <img src="img/BOTELLAS.png" class="botellas"> -->
                    </ion-slide>
                    <ion-slide class="despertador_pantalla2" scroll="false">
                        <input ng-model="nombreAlarma.model" class="nombreAlarma" ng-bind="nombreAlarma.model"  maxlength="20" placeholder="Nombre de alarma">
                        <div class="picker_alarma"><button ng-bind="inputHoraAlarma"></button><button ng-bind="inputMinutosAlarma"></button><button ng-bind="amPm"></button>
                            <ionic-timepicker input-obj="timePickerDespertador">
                            </ionic-timepicker>
                        </div>
                        <div class="opcionesSelects">
                            <h2>Repetición</h2>
                            <select ng-model="repeticionAlarma.Alarma" ng-change="changeVozAlarma()" ng-options="repeticionAlarma.name for repeticionAlarma in repeticionAlarma">
                            </select>
                        </div>
                        <div class="opcionesSelects nomarginR" >
                            <h2>Chica</h2>
                            <select ng-model="chicaSeleccionAlarma.VozAlarma" ng-change="changeVozAlarma()" ng-options="chicaSeleccionAlarma.name for chicaSeleccionAlarma in chicaSeleccionAlarma">
                            </select>
                        </div>
                        <button class="button color" myclick="crearAlarma()">crear alarma</button>
                        <!-- button class="button color cancelar" myclick="cancelarAlarma()">cancelar alarma</button -->
                        <!-- <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros"> -->
                    </ion-slide>
                    <ion-slide class="despertador_pantalla2" scroll="false">
                        <input ng-model="nombreAlarma.model" class="nombreAlarma" ng-bind="nombreAlarma.model" maxlength="20" placeholder="Nombre de alarma">
                        <div class="picker_alarma"><button ng-bind="inputHoraAlarma"></button><button ng-bind="inputMinutosAlarma"></button><button ng-bind="amPm"></button>
                            <ionic-timepicker input-obj="timePickerDespertador">
                            </ionic-timepicker>
                        </div>
                        <div class="opcionesSelects">
                            <h2>Repetición</h2>
                            <select ng-model="repeticionAlarma.Alarma" ng-change="changeVozAlarma()" ng-options="repeticionAlarma.name for repeticionAlarma in repeticionAlarma">
                            </select>
                        </div>
                        <div class="opcionesSelects nomarginR" >
                            <h2>Chica</h2>
                            <select ng-model="chicaSeleccionAlarma.VozAlarma" ng-change="changeVozAlarma()" ng-options="chicaSeleccionAlarma.name for chicaSeleccionAlarma in chicaSeleccionAlarma">
                            </select>
                        </div>
                        <button class="button color" myclick="updateNow()">Actualizar</button>
                        <!-- <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros"> -->
                    </ion-slide>
                </ion-slide-box>
            </div>
        </ion-content>
      </ion-view>
    </script>
    <script id="templates/bodega_home.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Karen" >
            <div ui-view name="inception"></div>
      </ion-view>
    </script>
    <script id="templates/karen.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Bodega" class="home_bodega fondo " ng-style="{'background' : 'url(img/{{ layout }}.jpg)','background-size' : 'cover'}">
        <ion-content scroll="false" >
            <div class="rif top right">
                RIF: J-00006372-9
            </div>
            <img src="img/{{ layout }}.jpg" class="imagenPrueba">
            <div class="logo_pilsen left top top_logo_bodega"></div>
            <div class="titulo_bodega"><h1>La bodega</h1></div>
            <div class="content_header_bodega">
    			<!-- <div class="titulo_seleccione_chica">Seleccione chica:</div> -->
                <select class="select_chica_bodega" ng-model="chicaSeleccion.Mychica" ng-change="changeView();alerta();" ng-options="chicaSeleccion.name for chicaSeleccion in chicaSeleccion">
                </select>
            </div>
            <div class="filtro_bodega"><button class="filtro_imagenes active" myclick="filtroImagen()"></button><button class="filtro_gif" myclick="filtroGif();"></button><button class="filtro_audio" myclick="filtroSonidos()"></button></div>
            <div class="preview_image" ng-class="[style1]">
                <span class="descripcion_sonido">{{descripcion_sonido}}</span>
                <button class="reproducir_button" myclick="reproducir()">reproducir</button>
                <button myclick="share()" class="sharebutton"><img src="img/sharebutton.png"></button>
                <div ng-repeat="link in chicaSeleccion.Mychica" class="preview_image_2">
                    <ion-slide-box class="fotoSlider" delegate-handle="fotosSlider" on-slide-changed="cargaPreview('',index);">
                        <ion-slide ng-repeat="rasta in wilfri[link]" scroll="false">
                            <div class="chica_slider">
                              <img  src="{{rasta.link}}" class="preview_img_2">
                              <img src="img/blue_loader.gif" class="loader_preview">
                              <!--img src="{{preview_image.model}}" class="preview_img"-->
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
                <a class="download_gif" myclick="download('file:///mnt/sdcard/PICTURES/PILSEN/')"></a>
            </div>          
            <div class="contenedor_recursos" scroll="true" style="display: none;">
<!--                 <div ng-repeat="link in chicaSeleccion.Mychica" >
                    <button ng-repeat="rasta in wilfri[link]" class="imagenes_bodega" ng-click="cargaPreview(hiper[{{$index}}].link, null);" >
                        <img src="{{rasta.link}}">
                        
                    </button>
                </div> -->
            </div>
            <div class="contenedor_recursos sonidos" scroll="true">
                <div ng-repeat="sonido in chicaSeleccion.Mychica" >
                    <button ng-repeat="link in sonidos[sonido]" class="imagenes_bodega" ng-click="cargaPreview(link.link, {{$index}});" >
                        <img src="smallSonidos/{{chicaSeleccion.Mychica.name}}.jpg">
                    </button>
                </div>
            </div>
        </ion-content>
      </ion-view>
    </script>
    <script id="templates/settings_home.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Settings" class="setting fondo" >
        <ion-content scroll="false" >
            <div class="rif top right">
                RIF: J-00006372-9
            </div>
            <div class="logo_pilsen left top"></div>
            <div class="content_h1">
                <h1>configuración</h1>
            </div>
            <div class="botellaFondo" ></div>
            <div class="contenedor_settings">
                <button myclick="goTo()"> Escoger chica</button>
                <!-- <img src="img/Sabe-a-nosotros.png" class="sabe_a_nosotros"> -->
            </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/calendario_meses.html" type="text/ng-template">
        
    </script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/data.js"></script>
        <script type="text/javascript" src="js/calendario.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/Calendar.js"></script>
    </body>
</html>
